workflows/processors/Split Tasks.json
{
  "name": "Split Tasks",
  "nodes": [
    {
      "parameters": {
        "batchSize": "=1",
        "options": {}
      },
      "id": "bca7588e-4d99-4eff-b8bb-0b493fce34a9",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        464,
        672
      ]
    },
    {
      "parameters": {},
      "id": "888259ed-8c5a-4c1d-8da2-adf552e25375",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        464,
        880
      ]
    },
    {
      "parameters": {
        "workflowId": "reXzQx16mYlnGwfI",
        "options": {}
      },
      "id": "31d6cf27-e77d-44c0-9aa5-5e7e642a4952",
      "name": "Execute Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        704,
        672
      ],
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status|status",
              "statusValue": "=Running"
            }
          ]
        },
        "options": {}
      },
      "id": "a3861ad7-ea7a-4364-84b2-a1076aef4db7",
      "name": "Notion",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        464,
        464
      ],
      "credentials": {
        "notionApi": {
          "id": "Czzo7kSR8UMfEhDY",
          "name": "5Leaf Notion"
        }
      }
    },
    {
      "parameters": {},
      "id": "0d7813c6-5010-4815-9f20-63596958c692",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        208,
        672
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Notion",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "46b22287-c7e5-4a67-a7bb-cc55a21a030f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3adfecd70950b13f28ed03d4a73be90a3890254a7232b5d00e30c7f590681e17"
  },
  "id": "fZfffYwnyyuLLd8E",
  "tags": []
}